main {
	background-color: $secondary_color;
	height: calc(100vh - 70px);

	.card-container {
		padding: 50px;

		.card {
			background-color: $primary_color;
			width: 200px;
			height: 300px;
			float: left;
		}
	}
}
