@media screen and (max-width:$desktop_size) {
	.wrap {
		width: 70%;
	}

	header .header-container {
		width: 80%;
	}
	main .card-container .card {
	   width: calc((100% - 50px) / 2);
	   &:nth-child(3n+0) {
		   margin-right: 50px;
	   }
	   &:nth-child(2n+0) {
		   margin-right: 0;
	   }
   }
}
@media screen and (max-width:$mobile_size) {
	.wrap {
		width: 50%;
	}

	header .header-container {
		width: 80%;
	}
	main .card-container .card {
	   width: 100%;

	   margin-right: 0;
	   &:nth-child(3n+0) {
		   margin-right: 0;
	   }
   }
}
